<div class="container">
  <h1 data-test="title">Repositories</h1>

  <p>
    <Input
      @id="org-checkbox"
      @type="checkbox"
      @checked={{this.isOrg}}
      onChange={{action "resetResults"}}
    />
    <label for="org-checkbox">Organisation</label>
  </p>


  {{#if isOrg}}
    <p>
      <label for="org-name">Organisation Name</label>
      <Input
        @id="org-name"
        @value={{orgName}}
        @onChange={{action (mut orgName)}}
      />
    </p>
  {{/if}}


  <p>
    <label for="per-page">Item per page</label>
    <Input
      @id="per-page"
      @value={{perPage}}
      @onChange={{action (mut perPage)}}
    />
  </p>

  <p>
    <label for="access-token">Access Token</label>
    <Input
      @id="access-token"
      @value={{accessToken}}
      @onChange={{action (mut accessToken)}}
    />
    {{#if (and (eq accessToken "") (not isOrg))}}
      <p class="error">Access token is required! <br> Not have access token? <a href="https://docs.github.com/en/github/authenticating-to-github/keeping-your-account-and-data-secure/creating-a-personal-access-token" target="_blank" rel="noopener">How to create?</a></p>
    {{/if}}
  </p>

  <button {{action "submitToken"}} title="The Default Personal access tokens is set for the https://github.com/kedarvijaykulkarni which expire on 13th Aug 2021">
    Submit {{#if (not isOrg)}}Token{{/if}}
  </button>

  {{#if (and repositories  (not isOrg))}}
    <p>
      <Input
        @id="private-checkbox"
        @type="checkbox"
        @checked={{this.isPrivate}}
        disabled={{isDisable}}
      />
      <label for="private-checkbox" class="success">Private Ronly</label>
    </p>
  {{/if}}

  {{#if isOrg}}
    <p class="error">
      In Organisation API there are no PRIVATE repositories. <a href="https://stackoverflow.com/questions/21907278/github-api-using-repo-scope-but-still-cant-see-private-repos" target="_blank" rel="noopener">Check here</a>
      <br>To view private repositories for the Organisation, please set up the access token via <a href="https://docs.github.com/en/github/authenticating-to-github/keeping-your-account-and-data-secure/creating-a-personal-access-token" target="_blank" rel="noopener">this method</a>,
      uncheck the Organisation checkbox and put access-token in the given text-box, and submit the token.
    </p>
  {{/if}}

  {{#if repositories }}
    {{#if isRunning}}
      loading...
    {{else}}
      <ListRepositories
        @data={{filterRepositories}}
        class="bg-white"
        @next={{action "next"}}
        @previous={{action "previous"}}
        @isNextDisable={{isNextDisable}}
        @isPreviousDisable={{isPreviousDisable}}
      />
    {{/if}}
  {{/if}}

</div>
